@{
    ViewData["Title"] = "Confirmação para Apagar Link";
}

<div class="text-center">
    <p>Deseja realmente apagar este link (nome do link)?</p>
</div>

<a role="button" class="btn btn-primary" asp-controller="Link" asp-action="Index">Cancelar exclusão</a>
<a role="button" class="btn btn-danger">Confirmar exclusão</a>